<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{title}}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <meta name="description" content="Peter West Media. Applied Mathematics and Computer Science Student from Cape Town, South Africa." />

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">

  <link href="images/favicon.png" rel="shortcut icon" />
  <!-- Stylesheets -->
  <link href="common-css/bootstrap.css" rel="stylesheet">
  <link href="common-css/ionicons.css" rel="stylesheet">
  <link href="common-css/swiper.css" rel="stylesheet">
  <link href="01-homepage/css/styles.css" rel="stylesheet">
  <link href="01-homepage/css/responsive.css" rel="stylesheet">

</head>

<body>
  <header>
    <div class="container">
      <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>
      <ul class="main-menu visible-on-click" id="main-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <!-- main-menu -->
    </div>
    <!-- container -->
  </header>

  {{{body}}}

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-3 col-xl-4">
          <div class="margin-b-30">
            <!-- <a class="logo margin-b-10" href="#"><img src="images/logo-white.png" alt="Logo"></a> -->
            <p class="margin-tb-20">23 year old student from Cape Town, South Africa. Trying to do interesting things.
              Also, who reads these things?
              <p>
                <p class="font-black-lite copyright">
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  2018 All rights reserved | Maintained by <a class="footer-link" href="@" target="_blank" rel="noopener">Peter
                    West Media</a> Original design by <a href="https://colorlib.com" target="_blank" rel="noopener">Colorlib</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>

          </div>
          <!-- margin-b-30 -->
        </div>
        <!-- col-sm-6 -->

        <div class="hidden-lg-down col-xl-2"></div>

        <div class="col-md-6 col-lg-3 col-xl-2">
          <div class="footer-section margin-b-30">
            <h5 class="title margin-b-20"><b>Get In Contact</b></h5>
            <p>Cape Town, South Africa</p>
            <p class="margin-tb-10"> +00 000 000 0000</p>
            <p>westdevstudio@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- SCIPTS -->
  <script src="common-js/jquery-3.1.1.min.js"></script>
  <script src="common-js/tether.min.js"></script>
  <script src="common-js/bootstrap.js"></script>
  <script src="common-js/swiper.js"></script>
  <script src="common-js/isotope.pkgd.min.js"></script>
  <script src="common-js/scripts.js"></script>

</body>

</html>