<div class="main-slider" style="background-image: url(images/slider-2-1920x1080.jpg);">
  <div class="display-table center-text">
    <div class="display-table-cell">
      <div class="slider-content">

        <h5 class="pre-heading">Just us, the gang</h5>
        <h1><b>About</b></h1>

      </div>
      <!-- slider-content-->
    </div>
    <!--display-table-cell-->
  </div>
  <!-- display-table-->
</div>
<!-- main-slider -->


<section class="featured-section section">
  <div class="container">
    <div class="position-relative">
      <div class="featured margin-b-30">

        <h3><b>We built the perfect team in 10 years</b></h3>
        <p class="margin-tb-30">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce quis tempus elit. Sed efficitur tortor neque, vitae aliquet urna varius sit amet. Ut rhoncus, nunc nec tincidunt volutpat, ex libero eleifend turpis,
          et venenatis efficitur tortor nequeefficitur tortor nequeaugue est id lacus. </p>
        <a class="btn btn-border" href="#"><b>DISCOVER IT</b><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>

      </div>
      <!-- left-area-->

      <div class="box-area"><img src="images/box.png" alt="" /></div>

    </div>
    <!-- position-relative-->
  </div>
  <!-- container-->
</section>
<!-- featured-section -->


<section class="team-section">

  <a class="team" href="#"><img src="images/team-1-400x400.jpg" alt=""/>
    <div class="hover-color"></div>
  </a>
  <a class="team" href="#"><img src="images/team-2-400x400.jpg" alt=""/>
    <div class="hover-color"></div>
  </a>
  <a class="team" href="#"><img src="images/team-3-400x400.jpg" alt=""/>
    <div class="hover-color"></div>
  </a>
  <a class="team" href="#"><img src="images/team-4-400x400.jpg" alt=""/>
    <div class="hover-color"></div>
  </a>
  <a class="team" href="#"><img src="images/team-5-400x400.jpg" alt=""/>
    <div class="hover-color"></div>
  </a>
  <a class="team" href="#"><img src="images/team-6-400x400.jpg" alt=""/>
    <div class="hover-color"></div>
  </a>
  <a class="team" href="#"><img src="images/team-7-400x400.jpg" alt=""/>
    <div class="hover-color"></div>
  </a>
  <a class="team" href="#"><img src="images/team-8-400x400.jpg" alt=""/>
    <div class="hover-color"></div>
  </a>

</section>
<!-- about-section -->


<section class="about-section overflow-hidden">

  <div class="about">

    <h6><b>Media & Publicity</b></h6>
    <h4><b>Creative Modern <br/>& Unique</b></h4>
    <p class="desc margin-tb-30">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce quis tempus elit. Sed efficitur tortor neque, vitae aliquet urna varius sit amet... </p>
    <a class="btn btn-border" href="#"><b>DISCOVER IT</b><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>

  </div>
  <!-- about-->

  <div class="about">

    <h6><b>Media & Publicity</b></h6>
    <h4><b>Clean Coded & <br/>Documented</b></h4>
    <p class="desc margin-tb-30">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce quis tempus elit. Sed efficitur tortor neque, vitae aliquet urna varius sit amet... </p>
    <a class="btn btn-border" href="#"><b>DISCOVER IT</b><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>

  </div>
  <!-- about-->

  <div class="about">

    <h6><b>Media & Publicity</b></h6>
    <h4><b>We got the best <br/>Developer</b></h4>
    <p class="desc margin-tb-30">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce quis tempus elit. Sed efficitur tortor neque, vitae aliquet urna varius sit amet... </p>
    <a class="btn btn-border" href="#"><b>DISCOVER IT</b><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>

  </div>
  <!-- about-->

</section>
<!-- about-section -->
