
<head>
  <link href="05-news/css/styles.css" rel="stylesheet">
  <link href="05-news/css/responsive.css" rel="stylesheet">
</head>

<div class="main-slider" style="background-image: url(images/pexels-photo-175032.jpeg);">
  <div class="display-table center-text">
    <div class="display-table-cell">
      <div class="slider-content">

        <!-- <h5 class="pre-heading">Welcome to the soon to be poorly written</h5> -->
        <h1><b>Blog</b></h1>

      </div><!-- slider-content-->
    </div><!--display-table-cell-->
  </div><!-- display-table-->
</div><!-- main-slider -->



<section class="blog-section section">
  <div class="container">

    <div class="single-post margin-b-50">
      <a class="margin-b-50" href="#"><img src="images/blog-1-1200x500.jpg" alt=""></a>
      <div class="post-details">
        <h6><b><a href="#">Design</a><span class="margin-lr-10"> | </span><a href="#">27/12/2018</a></b></h6>
        <h4 class="margin-tb-10"><a href="#"><b>Design Inspiration</b></a></h4>
        <h6 class="font-white-lite"><b>By <a href="#">LORENDA PAAP</a><span class="margin-lr-10"> | </span><a href="#">3 COMMENTS</a></b></h6>
        <p class="margin-tb-30">Litora torquent per conubia nostra, per inceptos himena eos. Fusce quis tempus elit.
        Class aptent taciti orquent per conubia nostra inceptos. Litora torquent per conubia nostra,
        per inceptos himena eos. Fusce quis tempus elit. Class aptent taciti orquent per conubia nostra
        inceptos ... Litora torquent per conubia nostra, per inceptos himena eos. Fusce quis
        tempus elittaciti orquent per conubia nostra inceptos ......</p>
        <a class="btn btn-fill read-more-btn" href="#"> <i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>
      </div><!-- post-details -->
    </div><!-- single-post -->

    <div class="single-post margin-b-50">
      <a class="margin-b-50" href="#"><img src="images/blog-2-1200x500.jpg" alt=""></a>
      <div class="post-details">
        <h6><b><a href="#">Design</a><span class="margin-lr-10"> | </span><a href="#">27/12/2018</a></b></h6>
        <h4 class="margin-tb-10"><a href="#"><b>Design Inspiration</b></a></h4>
        <h6 class="font-white-lite"><b>By <a href="#">LORENDA PAAP</a><span class="margin-lr-10"> | </span><a href="#">3 COMMENTS</a></b></h6>
        <p class="margin-tb-30">Litora torquent per conubia nostra, per inceptos himena eos. Fusce quis tempus elit.
        Class aptent taciti orquent per conubia nostra inceptos. Litora torquent per conubia nostra,
        per inceptos himena eos. Fusce quis tempus elit. Class aptent taciti orquent per conubia nostra
        inceptos ... Litora torquent per conubia nostra, per inceptos himena eos. Fusce quis
        tempus elittaciti orquent per conubia nostra inceptos ......</p>
        <a class="btn btn-fill read-more-btn" href="#"> <i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>
      </div><!-- post-details -->
    </div><!-- single-post -->

    <div class="single-post margin-b-50">
      <a class="margin-b-50" href="#"><img src="images/blog-3-1200x500.jpg" alt=""></a>
      <div class="post-details">
        <h6><b><a href="#">Design</a><span class="margin-lr-10"> | </span><a href="#">27/12/2018</a></b></h6>
        <h4 class="margin-tb-10"><a href="#"><b>Design Inspiration</b></a></h4>
        <h6 class="font-white-lite"><b>By <a href="#">LORENDA PAAP</a><span class="margin-lr-10"> | </span><a href="#">3 COMMENTS</a></b></h6>
        <p class="margin-tb-30">Litora torquent per conubia nostra, per inceptos himena eos. Fusce quis tempus elit.
        Class aptent taciti orquent per conubia nostra inceptos. Litora torquent per conubia nostra,
        per inceptos himena eos. Fusce quis tempus elit. Class aptent taciti orquent per conubia nostra
        inceptos ... Litora torquent per conubia nostra, per inceptos himena eos. Fusce quis
        tempus elittaciti orquent per conubia nostra inceptos ......</p>
        <a class="btn btn-fill read-more-btn" href="#"> <i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>
      </div><!-- post-details -->
    </div><!-- single-post -->

    <ul class="blog-pagination margin-b-30">
      <li><a href="#"><b>01</b></a></li>
      <li class="active"><a href="#"><b>02</b></a></li>
      <li><a href="#"><b>03</b></a></li>
    </ul>

  </div><!-- container -->
</section><!-- blog-section -->
