<ul class="site-navigation">
  <li><a class="nav-btn btn-prev" href="#"><i class="ion-chevron-up"></i></a></li>
  <li><a href="#home"><span class="tool-tip">Home</span></a></li>
  <li><a href="#social-section"><span class="tool-tip">Links</span></a></li>
  <li><a href="#intro"><span class="tool-tip">About</span></a></li>
  <li><a href="#projects"><span class="tool-tip">Projects</span></a></li>
  <li><a href="#portfolio"><span class="tool-tip">Portfolio</span></a></li>

  <li><a href="#blog"><span class="tool-tip">Blog</span></a></li>
  <li><a class="nav-btn btn-next" href="#"><i class="ion-chevron-down"></i></a></li>
</ul>

<div class="main-slider" id="home" style="background-image: url(images/pexels-photo-175032.jpeg);">

  <a class="scroll-down-btn" href="#social-section">Scroll Down
    <i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>

  <div class="display-table center-text">
    <div class="display-table-cell">
      <div class="slider-content">

        <h5 class="pre-heading">Applied Mathematics and Computer Science Student</h5>
        <h1><b>Peter West | Media</b></h1>
        <h4 class="post-heading">Cape Town, <strong>South Africa<strong></h4>
      </div>
      <!-- slider-content-->
    </div>
    <!--display-table-cell-->
  </div>
  <!-- display-table-->
</div>
<!-- main-slider -->


<div class="social-section" id="social-section">
  <div class="container">
    <ul>
      <li>Links</li>
      <li><a href="https://github.com/peterwest-1" target="_blank" rel="noopener"><i class="ion-social-github"></i></a></li>
      <li><a href="https://twitter.com/peterwest_1" target="_blank" rel="noopener"><i class="ion-social-twitter"></i></a></li>
      <li><a href="https://www.instagram.com/peterwest_1/" target="_blank" rel="noopener"><i class="ion-social-instagram-outline"></i></a></li>
      <li><a href="https://www.linkedin.com/in/peter-west-a1b93b142/" target="_blank" rel="noopener"> <i class="ion-social-linkedin-outline"></i></a></li>
    </ul>

  </div>
  <!-- container-->
</div>
<!-- social-section -->

<section class="intro-section" id="intro">

  <div class="image-wrapper" style="background-image: url(images/intro-image-1000x1000.jpg)">
    <a href="#"><i class="icon ion-ios-plus-empty"></i></a>
  </div>

  <div class="container">
    <div class="intro section">
      <h3><b><span class="font-black">About Me.</span></b></h3>
      <p class="margin-tb-20">Applied Mathematics and Computer Science student from Cape Town, South Africa. Currently 23 years old, working on web development, creative programming and what I enjoy the most is mobile development specifically iOS applications. </p>
      <!-- <a class="btn btn-border margin-b-30" href="#"><b>DISCOVER IT</b>
        <i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a> -->
    </div>
    <!-- intro-->
  </div>
  <!-- container-->

</section>
<!-- intro-section -->

<section class="event-section section" id="projects">
  <div class="container">

    <div class="heading-area">
      <h3><b>Projects</b></h3></div>
    <div class="row">

      <div class="col-sm-12 col-md-6">
        <div class="single-event margin-b-50">

          <!-- <div class="date center-text active"> -->
          <div class="date center-text">
            <h4>16</h4>
            <h6>March</h6>
            <h6>2018</h6>
          </div>
          <!-- left-area-->

          <div class="event-info">
            <h5><a href="/warranty">Warranty</a></h5>
            <h6 class="margin-t-5 font-black-lite">iOS Application | Swift 4</h6>
            <p class="margin-tb-20">An iOS 11 Application that allows users to store various types or receipts and warrantys and get notified when they are reaching their expiry</p>
            <a class="btn-underline" href="/warranty"><b>READ MORE</b></a>
          </div>
          <!-- right-area-->

        </div>
        <!-- single-event -->
      </div>
      <!-- col-sm-6-->

      <div class="col-sm-12 col-md-6">
        <div class="single-event margin-b-50">

          <div class="date center-text">
            <h4>20</h4>
            <h6>March</h6>
            <h6>2018</h6>
          </div>
          <!-- left-area-->

          <div class="event-info">
            <h5><a href="/peterwestmedia">Peter West Media</a></h5>
            <h6 class="margin-t-5 font-black-lite">Express.js personal website | Hosted on AWS EC2</h6>
            <p class="margin-tb-20">Website using Express allowing me to show my work and allow people to get in contact. Also required to submit an iOS Application to the app store</p>
            <a class="btn-underline" href="/peterwestmedia"><b>READ MORE</b></a>
          </div>
          <!-- right-area-->

        </div>
        <!-- single-event -->
      </div>
      <!-- col-sm-6-->

      <div class="col-sm-12 col-md-6">
        <div class="single-event margin-b-50">

          <div class="date center-text">
            <h4>26</h4>
            <h6>March</h6>
            <h6>2018</h6>
          </div>
          <!-- left-area-->

          <div class="event-info">
            <h5><a href="/travel-bucket">Travel Bucket</a></h5>
            <h6 class="margin-t-5 font-black-lite">iOS Application | Swift 4</h6>
            <p class="margin-tb-20">An iOS 11 Application that allows users to mark places they'd like to travel to and share with friends. Coming Soon</p>
            <a class="btn-underline" href="/travel-bucket"><b>READ MORE</b></a>
          </div>
          <!-- right-area-->

        </div>
        <!-- single-event -->
      </div>
      <!-- col-sm-6-->

      <div class="col-sm-12 col-md-6">
        <div class="single-event margin-b-50">

          <div class="date center-text">
            <h4>13</h4>
            <h6>April</h6>
            <h6>2018</h6>
          </div>
          <!-- left-area-->

          <div class="event-info">
            <h5><a href="/blog/mosaic"> 3D Mosaic</a></h5>
            <h6 class="margin-t-5 font-black-lite">Processing | p5.js</h6>
            <p class="margin-tb-20">Converts a image to a 3D mosiac made of many 3D boxes, inset or extruded based on brightness values</p>
            <a class="btn-underline" href="/blog/mosaic"><b>READ MORE</b></a>
          </div>
          <!-- right-area-->

        </div>
        <!-- single-event -->
      </div>
      <!-- col-sm-6-->

    </div>
    <!-- row-->

    <a class="btn btn-border margin-b-30" href="/portfolio"><b>PROJECTS</b>
      <i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>

  </div>
  <!-- container-->
</section>
<!-- event-section -->

{{!-- 
<section class="portfolio-section center-text" id="portfolio">
  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-4 col-md-6 padding-lr-0">
        <div class="p-item architecture brand-identity"><a href="#">
          <img src="images/pexels-photo-774548.jpeg" alt="Gallery Image">
          <div class="portfolio-info">
              <div class="display-table">
                <div class="display-table-cell">
                  <h5 class="title"><b>Image</b></h5>
                  <h6 class="pre-title">Location</h6>
                </div><!-- display-table-cell -->
              </div><!-- display-table -->
            </div><!-- portfolio-info -->
          </a>
        </div>
        <!-- p-item -->
      </div>
      <!-- col-lg-4 -->

      <div class="col-lg-4 col-md-6 padding-lr-0">
        <div class="p-item architecture brand-identity"><a href="#">
          <img src="images/architecture-about-building-modern-158571.jpeg" alt="Gallery Image">
          <div class="portfolio-info">
              <div class="display-table">
                <div class="display-table-cell">
                  <h5 class="title"><b>Image</b></h5>
                  <h6 class="pre-title">Location</h6>
                </div><!-- display-table-cell -->
              </div><!-- display-table -->
            </div><!-- portfolio-info -->
          </a>
        </div>
        <!-- p-item -->
      </div>
      <!-- col-lg-4 -->

      <div class="col-lg-4 col-md-6 padding-lr-0">
        <div class="p-item architecture brand-identity"><a href="#">
          <img src="images/pexels-photo-792972.jpeg" alt="Gallery Image">
          <div class="portfolio-info">
              <div class="display-table">
                <div class="display-table-cell">
                  <h5 class="title"><b>Image</b></h5>
                  <h6 class="pre-title">Location</h6>
                </div><!-- display-table-cell -->
              </div><!-- display-table -->
            </div><!-- portfolio-info -->
          </a>
        </div>
        <!-- p-item -->
      </div>
      <!-- col-lg-4 -->

      <div class="col-lg-4 col-md-6 padding-lr-0">
        <div class="p-item architecture brand-identity"><a href="#">
          <img src="images/pexels-photo-251287.png" alt="Gallery Image">
          <div class="portfolio-info">
              <div class="display-table">
                <div class="display-table-cell">
                  <h5 class="title"><b>Image</b></h5>
                  <h6 class="pre-title">Location</h6>
                </div><!-- display-table-cell -->
              </div><!-- display-table -->
            </div><!-- portfolio-info -->
          </a>
        </div>
        <!-- p-item -->
      </div>
      <!-- col-lg-4 -->

      <div class="col-lg-4 col-md-6 padding-lr-0">
        <div class="p-item architecture brand-identity"><a href="#">
          <img src="images/pexels-photo-580679.jpeg" alt="Gallery Image">
          <div class="portfolio-info">
              <div class="display-table">
                <div class="display-table-cell">
                  <h5 class="title"><b>Image</b></h5>
                  <h6 class="pre-title">Location</h6>
                </div><!-- display-table-cell -->
              </div><!-- display-table -->
            </div><!-- portfolio-info -->
          </a>
        </div>
        <!-- p-item -->
      </div>
      <!-- col-lg-4 -->

      <div class="col-lg-4 col-md-6 padding-lr-0">
        <div class="p-item architecture brand-identity"><a href="#">
          <img src="images/portfolio-6-600x400.jpg" alt="Gallery Image">
          <div class="portfolio-info">
              <div class="display-table">
                <div class="display-table-cell">
                  <h5 class="title"><b>Image</b></h5>
                  <h6 class="pre-title">Location</h6>
                </div><!-- display-table-cell -->
              </div><!-- display-table -->
            </div><!-- portfolio-info -->
          </a>
        </div>
        <!-- p-item -->
      </div>
      <!-- col-lg-4 -->

    </div>
    <!-- row -->
  </div>
  <!-- container-fluid -->
</section>
<!-- portfolio-section -->





<section class="counter-section section" id="counter">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-3">
        <div class="margin-b-30">
          <h2><b><span class="counter-value" data-duration="400" data-count="0">0</span></b></h2>
          <h6><b>Years of Experience</b></h6>
        </div>
        <!-- margin-b-30 -->
      </div>
      <!-- col-md-3-->

      <div class="col-sm-6 col-md-3">
        <div class="margin-b-30">
          <h2><b><span class="counter-value" data-duration="400" data-count="0">0</span></b></h2>
          <h6><b>Happy Clients</b></h6>
        </div>
        <!-- margin-b-30 -->
      </div>
      <!-- col-md-3-->

      <div class="col-sm-6 col-md-3">
        <div class="margin-b-30">
          <h2><b><span class="counter-value" data-duration="400" data-count="0">0</span></b></h2>
          <h6><b>Followers on FB</b></h6>
        </div>
        <!-- margin-b-30 -->
      </div>
      <!-- col-md-3-->

      <div class="col-sm-6 col-md-3">
        <div class="margin-b-30">
          <h2><b><span class="counter-value" data-duration="400" data-count="0">0</span></b></h2>
          <h6><b>Finished Projects</b></h6>
        </div>
        <!-- margin-b-30 -->
      </div>
      <!-- col-md-3-->

    </div>
    <!-- row-->
  </div>
  <!-- container-->
</section>
<!-- counter-section-->
 --}}



<section class="intro-section" id="intro">

  <div class="image-wrapper" style="background-image: url(images/intro-image-1000x1000.jpg)">
    <a href="#"><i class="icon ion-ios-plus-empty"></i></a>
  </div>

  <div class="container">
    <div class="intro section">
      <h3><b><span class="font-black">Other Stuff</span></b></h3>
      <p class="margin-tb-20">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce quis tempus elit. Sed efficitur tortor neque, vitae aliquet urna varius sit amet. Ut rhoncus, nunc nec tincidunt volutpat, ex libero eleifend turpis,
        et venenatis augue est id lacus. Etiam mattis nibh vel nulla ultricies, at tristique lectus vulputate. Cras sit amet ornare magna, sit amet dignissim libero. Praesent vehicula arcu quis eros rutrum.</p>
      <!-- <a class="btn btn-border margin-b-30" href="#"><b>DISCOVER IT</b>
        <i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a> -->
    </div>
    <!-- intro-->
  </div>
  <!-- container-->

</section>
<!-- intro-section -->


<div class="social-section" id="social-section">
  <div class="container"></div>
</div>

<section class="blog-section section" id="blog">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="blog-post margin-b-30">

          <h6>
            <b>Development
            <span class="bar">|</span>
            16/03/2018</b>
          </h6>
          <h4 class="margin-tb-10"><a href="/warranty"><b>Warranty</b></a></h4>
          <h6 class="font-white-lite">
            <b>by <a href="/about">Peter West</a>
            <span class="bar"></span>
            <a href=""></a></b>
          </h6>
          <p class="margin-tb-20">An iOS 11 Application that allows users to store various types or receipts and warrantys and get notified when they are reaching their expiry<p>
              <a class="btn btn-border" href="/warranty"><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>

        </div>
        <!-- blog-post-->
      </div>
      <!-- col-sm-4-->

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="blog-post margin-b-30">

          <h6>
            <b>Design
            <span class="bar">|</span>
            20/03/2018</b>
          </h6>
          <h4 class="margin-tb-10"><a href="/peterwestmedia"><b>Peter West Media</b></a></h4>
          <h6 class="font-white-lite">
            <b>by <a href="/about">Peter West</a>
            <span class="bar"></span>
            <a href=""></a></b>
          </h6>
          <p class="margin-tb-20">Website using Express allowing me to show my work and allow people to get in contact. Also required to submit an iOS Application to the app store<p>
              <a class="btn btn-border" href="/peterwestmedia"><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>

        </div>
        <!-- blog-post-->
      </div>
      <!-- col-sm-4-->

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="blog-post margin-b-30">

          <h6>
            <b>Development
            <span class="bar">|</span>
            26/03/2018</b>
          </h6>
          <h4 class="margin-tb-10"><a href="/travel-bucket"><b>Travel Bucket</b></a></h4>
          <h6 class="font-white-lite">
            <b>by <a href="/about">Peter West</a>
            <span class="bar"></span>
            <a href=""></a></b>
          </h6>
          <p class="margin-tb-20">An iOS 11 Application that allows users to mark places they'd like to travel to and share with friends. Coming Soon<p>
              <a class="btn btn-border " href="/travel-bucket"><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>

        </div>
        <!-- blog-post-->
      </div>
      <!-- col-sm-4-->

    </div>
    <!-- row-->
  </div>
  <!-- container-->
</section>
<!-- blog-section -->
