
<head>
  <link href="04-portfolio/css/styles.css" rel="stylesheet">
  <link href="04-portfolio/css/responsive.css" rel="stylesheet">
</head>

<div class="main-slider" style="background-image: url(images/slider-5-1920x1080.jpg);">
  <div class="display-table center-text">
    <div class="display-table-cell">
      <div class="slider-content">

        <h1><b>Portfolio</b></h1>

      </div><!-- slider-content-->
    </div><!--display-table-cell-->
  </div><!-- display-table-->
</div><!-- main-slider -->
