
<head>
  <link href="04-portfolio/css/styles.css" rel="stylesheet">
  <link href="04-portfolio/css/responsive.css" rel="stylesheet">
</head>

<div class="main-slider" style="background-image: url(images/slider-5-1920x1080.jpg);">
  <div class="display-table center-text">
    <div class="display-table-cell">
      <div class="slider-content">

        <h1><b>Portfolio</b></h1>

      </div><!-- slider-content-->
    </div><!--display-table-cell-->
  </div><!-- display-table-->
</div><!-- main-slider -->



<section class="porfolio-section section center-text">
  <div class="container">
    <div class="portfolioFilter clearfix margin-b-80">
      <a href="#" data-filter="*" class="current"><b>All Categories</b></a>
      <a href="#" data-filter=".digital-design"><b>Digital Design</b></a>
      <a href="#" data-filter=".photography"><b>Photography</b></a>
      <a href="#" data-filter=".brand-identity"><b>Brand Identity</b></a>
      <a href="#" data-filter=".architecture"><b>Architecture</b></a>
    </div><!-- portfolioFilter -->

    <div class="portfolioContainer image-gallery margin-b-80">

      <div class="p-item digital-design"><a href="#">
        <img src="images/portfolio-1-600x400.jpg" alt="Gallery Image">
          <div class="portfolio-info">
            <div class="display-table">
              <div class="display-table-cell">
                <h5 class="title"><b>Corporate and Brand Identity</b></h5>
                <h6 class="pre-title">BRAND IDENTITY</h6>
              </div><!-- display-table-cell -->
            </div><!-- display-table -->
          </div><!-- portfolio-info -->
        </a>
      </div><!-- p-item -->

      <div class="p-item architecture"><a href="#">
        <img src="images/portfolio-2-600x400.jpg" alt="Gallery Image">
        <div class="portfolio-info">
            <div class="display-table">
              <div class="display-table-cell">
                <h5 class="title"><b>Corporate and Brand Identity</b></h5>
                <h6 class="pre-title">BRAND IDENTITY</h6>
              </div><!-- display-table-cell -->
            </div><!-- display-table -->
          </div><!-- portfolio-info -->
        </a>
      </div><!-- p-item -->

      <div class="p-item photography"><a href="#">
        <img src="images/portfolio-3-600x400.jpg" alt="Gallery Image">
        <div class="portfolio-info">
            <div class="display-table">
              <div class="display-table-cell">
                <h5 class="title"><b>Corporate and Brand Identity</b></h5>
                <h6 class="pre-title">BRAND IDENTITY</h6>
              </div><!-- display-table-cell -->
            </div><!-- display-table -->
          </div><!-- portfolio-info -->
        </a>
      </div><!-- p-item -->

      <div class="p-item photography"><a href="#">
        <img src="images/portfolio-4-600x400.jpg" alt="Gallery Image">
        <div class="portfolio-info">
            <div class="display-table">
              <div class="display-table-cell">
                <h5 class="title"><b>Corporate and Brand Identity</b></h5>
                <h6 class="pre-title">BRAND IDENTITY</h6>
              </div><!-- display-table-cell -->
            </div><!-- display-table -->
          </div><!-- portfolio-info -->
        </a>
      </div><!-- p-item -->

      <div class="p-item architecture brand-identity"><a href="#">
        <img src="images/portfolio-5-600x400.jpg" alt="Gallery Image">
        <div class="portfolio-info">
            <div class="display-table">
              <div class="display-table-cell">
                <h5 class="title"><b>Corporate and Brand Identity</b></h5>
                <h6 class="pre-title">BRAND IDENTITY</h6>
              </div><!-- display-table-cell -->
            </div><!-- display-table -->
          </div><!-- portfolio-info -->
        </a>
      </div><!-- p-item -->

      <div class="p-item digital-design brand-identity"><a href="#">
        <img src="images/portfolio-6-600x400.jpg" alt="Gallery Image">
        <div class="portfolio-info">
            <div class="display-table">
              <div class="display-table-cell">
                <h5 class="title"><b>Corporate and Brand Identity</b></h5>
                <h6 class="pre-title">BRAND IDENTITY</h6>
              </div><!-- display-table-cell -->
            </div><!-- display-table -->
          </div><!-- portfolio-info -->
        </a>
      </div><!-- p-item -->

      <div class="p-item architecture"><a href="#">
        <img src="images/portfolio-7-600x400.jpg" alt="Gallery Image">
        <div class="portfolio-info">
            <div class="display-table">
              <div class="display-table-cell">
                <h5 class="title"><b>Corporate and Brand Identity</b></h5>
                <h6 class="pre-title">BRAND IDENTITY</h6>
              </div><!-- display-table-cell -->
            </div><!-- display-table -->
          </div><!-- portfolio-info -->
        </a>
      </div><!-- p-item -->

      <div class="p-item digital-design"><a href="#">
        <img src="images/portfolio-8-600x400.jpg" alt="Gallery Image">
        <div class="portfolio-info">
            <div class="display-table">
              <div class="display-table-cell">
                <h5 class="title"><b>Corporate and Brand Identity</b></h5>
                <h6 class="pre-title">BRAND IDENTITY</h6>
              </div><!-- display-table-cell -->
            </div><!-- display-table -->
          </div><!-- portfolio-info -->
        </a>
      </div><!-- p-item -->

      <div class="p-item architecture"><a href="#">
        <img src="images/portfolio-9-600x400.jpg" alt="Gallery Image">
        <div class="portfolio-info">
            <div class="display-table">
              <div class="display-table-cell">
                <h5 class="title"><b>Corporate and Brand Identity</b></h5>
                <h6 class="pre-title">BRAND IDENTITY</h6>
              </div><!-- display-table-cell -->
            </div><!-- display-table -->
          </div><!-- portfolio-info -->
        </a>
      </div><!-- p-item -->

      <div class="p-item photography"><a href="#">
        <img src="images/portfolio-10-600x400.jpg" alt="Gallery Image">
        <div class="portfolio-info">
            <div class="display-table">
              <div class="display-table-cell">
                <h5 class="title"><b>Corporate and Brand Identity</b></h5>
                <h6 class="pre-title">BRAND IDENTITY</h6>
              </div><!-- display-table-cell -->
            </div><!-- display-table -->
          </div><!-- portfolio-info -->
        </a>
      </div><!-- p-item -->

      <div class="p-item architecture"><a href="#">
        <img src="images/portfolio-11-600x400.jpg" alt="Gallery Image">
        <div class="portfolio-info">
            <div class="display-table">
              <div class="display-table-cell">
                <h5 class="title"><b>Corporate and Brand Identity</b></h5>
                <h6 class="pre-title">BRAND IDENTITY</h6>
              </div><!-- display-table-cell -->
            </div><!-- display-table -->
          </div><!-- portfolio-info -->
        </a>
      </div><!-- p-item -->

      <div class="p-item digital-design"><a href="#">
        <img src="images/portfolio-12-600x400.jpg" alt="Gallery Image">
        <div class="portfolio-info">
            <div class="display-table">
              <div class="display-table-cell">
                <h5 class="title"><b>Corporate and Brand Identity</b></h5>
                <h6 class="pre-title">BRAND IDENTITY</h6>
              </div><!-- display-table-cell -->
            </div><!-- display-table -->
          </div><!-- portfolio-info -->
        </a>
      </div><!-- p-item -->

    </div><!-- portfolioContainer -->
  </div><!-- container -->
</section><!-- porfolio-section -->
