
<head>
  <link href="item.css" rel="stylesheet">
</head>

<div class="main-slider" style="background-image: url(images/pexels-photo-860379.jpeg);">
	<div class="display-table center-text">
		<div class="display-table-cell">
			<div class="slider-content">


				<h1><b>Peter West Media</b></h1>
        <h5 class="pre-heading"><strong>Express.js</strong> Web Application hosted on <strong>AWS EC2</strong></h5>

			</div><!-- slider-content-->
		</div><!--display-table-cell-->
	</div><!-- display-table-->
</div><!-- main-slider -->

<div class="social-section" id="social-section">
  <div class="container">
    <ul>
      <li>Links</li>
      <li><a href="https://github.com/peterwest-1/peterwestmedia" target="_blank"><i class="ion-social-github"></i></a></li>
    </ul>

  </div>
  <!-- container-->
</div>
<!-- social-section -->

<section class="iconbox-section section">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="icnbox margin-b-50">
          <h5 class="margin-tb-20"><b>Video & Audio <br/>Management</b></h5>
          <p class="desc">Class aplent taclicts socio add ilitora toquent per columba nosta. Per incent hermheros.</p>
        </div>
        <!-- icnbox -->
      </div>
      <!-- col-sm-4 -->

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="icnbox margin-b-50">
          <h5 class="margin-tb-20"><b>Content <br/>Management</b></h5>
          <p class="desc">Class aplent taclicts socio add ilitora toquent per columba nosta. Per incent hermheros.</p>
        </div>
        <!-- icnbox -->
      </div>
      <!-- col-sm-4 -->

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="icnbox margin-b-50">
          <h5 class="margin-tb-20"><b>Social Media <br/>Management</b></h5>
          <p class="desc">Class aplent taclicts socio add ilitora toquent per columba nosta. Per incent hermheros.</p>
        </div>
        <!-- icnbox -->
      </div>
      <!-- col-sm-4 -->

    </div>
    <!-- row-->
  </div>
  <!-- container-->
</section>
<!-- iconbox-section -->
